{
  "BOT_TOKEN": "DUPLIKAT_DARI_.env_BOT_TOKEN_TIDAK_DIPAKAI_TAPI_TETAP_DI_REQUIRE_OLEH_VPN",
  "PORT": 6969,
  "USER_ID": "123456789,987654321",
  "NAMA_STORE": "@XYZSTORE",
  "DATA_QRIS": "00020101021126670016COM.NOBUBANK.WWW...",
  "MERCHANT_ID": "OK1234567",
  "API_KEY": "ORDERKUOTA_API_KEY",
  "GROUP_ID": "-1001234567890",
  "RESELLER_UPGRADE_ENABLED": true,
  "RESELLER_UPGRADE_PRICE": 50000,
  "RESELLER_UPGRADE_BENEFITS": "✅ Akses panel khusus reseller\n✅ Bisa jual akun sendiri\n✅ Trial Unlimited\n✅ Harga akun lebih murah\n✅ Prioritas support",
  "TOPUP_BONUS_ENABLED": false,
  "TOPUP_BONUS_APPLY_RESELLER": false,
  "TOPUP_BONUS_MAX": 0,
  "TOPUP_BONUS_RULES": []
}
